.twitter-fixer-hide-me {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  opacity: 0 !important;
}

.twitter-fixer-accounts {
  border-top: none !important;
  border-top-color: transparent !important;
}

.twitter-fixer-reverse {
  display: flex;
  flex-direction: column-reverse;
}
