.twitter-fixer-hide-me {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  opacity: 0 !important;
}

.twitter-fixer-accounts-improved {
  border-top: none !important;
}
